#main {
    width: 800px;
    margin: 0 auto;
}
.menu {
    margin-top: 200px;
}
.menu li {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    width: 263px;
    list-style: none;
}
.menu a {
    display: inline-block;
}
.menu a:hover {
    opacity: 0.8;
}