#main {
	width: 88%;
	margin: 28px auto 20px auto;
	vertical-align: top;
}
#border {
	width: 100%;
	height: 3px;
	background-image: url(../images/border.png);
}
#left-main {
	width: 66%;
	display: inline-block;
	vertical-align: top;
}
#nav ul{
	margin-top: 20px;
	list-style: none;
}
#nav .nav-item {
	display: inline-block;
	width: 119px;
	height: 45px;
	font-size: 18px;
	line-height: 45px;
	margin-right:15px;
	text-align: center;
	background-color: rgb(255,253,212);
}
#nav .nav-item a {
	color: #000;
}
#nav .nav-item a:hover {
	font-weight: bold;
	color: orangered;
}
#xitileixing {
	position: absolute;
	left: 10px;
	top: 137px;
	width:70px;
	height: 269px; 
	font-size: 29px;
	margin: 0 auto;
	background-color: rgb(193,185,153);
}
#xitileixing span {
	display: inline-block;
	width: 29px;
	margin-left: 20px;
	margin-top: 70px;
}
#left-maincontent {
	width: 100%;
	height: 624px;
	overflow-y: auto;
	margin-top:30px;
	padding-top:31px; 
	background-color: rgb(241,242,226);
}
#left-maincontent .que-type {
	width:51%;
	height: 64px;
	line-height: 64px;
	margin: 21px auto 0 auto;
	font-size: 26px;
	border-radius: 16px;
	border: 2px solid black;
	text-align: center;
}
#left-maincontent .ques {
	width: 89%;
	margin:2% auto 0 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#left-maincontent .que-number,#left-maincontent .que {
	display: inline-block;
	margin-top:16px;
	margin-bottom: 10px;
}
#left-maincontent .answer,#left-maincontent input[type="radio"],
#left-maincontent input[type="checkbox"],
#left-maincontent input[type="text"] {
	margin-top: 22px;
}
label {
	display: inline-block;
	width:100%;
	word-break:break-all;
	margin-top: 3px;
	margin-bottom: 8px;
	padding-left: 8px;
	cursor: pointer;
	vertical-align: top;
}
label span {
	margin:5px;
}
label input {
	opacity: 0;
}
.selected {
	background-color: rgb(255,239,176);
}
#left-maincontent input[type="text"] {
	margin-bottom:18px;
	height: 40px;
	width: 80%;
	margin: 0 auto 18px auto;
	font-size: 18px;
	background-color: rgb(241,242,226);
	border-color:#000000;   
	border-style:solid;   
	border-top-width:0px;   
	border-right-width:0px;   
	border-bottom-width:3px;   
	border-left-width:0px; 
}
#que .jiexi {
	vertical-align: top;
	cursor: pointer;
}
#que .xiala {
	display: inline-block;
	width: 28px;
	height: 27px;
	margin-left:80%;
	background-image: url(../images/xiala.png);
	vertical-align: top;
	cursor: pointer;
}
#que .upla {
	display: inline-block;
	width: 28px;
	height: 27px;
	margin-left:78%;
	background-image: url(../images/upla.png);
}
#que .analysis {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	background-color: rgb(255,239,176);
}
#que .analysis p {
	width: 85%;
	margin: 0 auto;
}
#que #analysis p {
	margin-top: 10px;
}
#right-main {
	width: 29%;
	margin-left: 4%;
	display: inline-block;
	vertical-align: top;
}
#right-bottom {
	height: 624px;
	margin-top: 20px;
	background-color: rgb(241,242,226);
}
#right-bottom-header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.5em;
	background-color: rgb(193,185,153);
}
#que-info {
	width: 74%;
	margin:0 auto;
}
#que-info span {
	display: inline-block;
	margin-left: 39px;
	margin-top: 18px;
	margin-bottom: 20px;
	font-size: 1.5em;
}
#que-info .buttons {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin-right: 16px;
	margin-top: 13px;
	text-align: center;
	line-height: 29px;
	color: black;
	border: 1px solid black;
	border-radius: 50%;
}
.correct {
	background-repeat: no-repeat;
	background-position: 100% 10%;
	background-image: url(../images/correct.png);
	z-index: 99;
}
.wrong {
	background-repeat: no-repeat;
	background-position: 100% 10%;
	background-image: url(../images/wrong.png);
	z-index: 99;
}
.selected {
	background-color: rgb(255,239,176);
}
.correctbtn {
	background-color: rgb(111,212,205);
}
.wrongbtn {
	background-color: rgb(191,43,31);
}